* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.00938em;
}

.body-wrap {
  background-color: #03c;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
  color: #fff;
}

a,
a:link,
a:visited {
  text-decoration: none !important;
}

.hero-div {
  background-image: url("./assets/bg-presentation.jpg");
}

.back-rotating-card {
  background-image: url("./assets/rotating-card-bg-back.jpeg");
}

.front-rotating-card {
  /* background-image: url("./assets/rotating-card-bg-front.jpeg"); */
  background-image: url("https://cdn.pixabay.com/photo/2018/02/20/18/22/menu-3168414_640.jpg");
}
.supporter-logo {
  width: 100%;
  opacity: 0.6;
}
.footer-img {
  margin-bottom: 16px;
  opacity: 1;
  background: transparent;
  color: #fff;
  box-shadow: none;
  height: 20px;
  max-width: 2em;
}
.body-card {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: saturate(200%) blur(30px);
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
}
.navbar-wrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.nav-cont {
  padding-top: 8px;
  padding-bottom: 8px;
  width: calc(70% - 48px);
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
  z-index: 3;
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(52, 71, 103);
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem,
    rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  backdrop-filter: saturate(200%) blur(30px);
}
.nav-grid {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.nav-grid a {
  line-height: 1;
  padding-top: 6px;
  padding-bottom: 6px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}

.logo {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: #03c;
  letter-spacing: -0.125px;
  font-weight: 700;
}
.nav-links {
  margin-left: auto;
  margin-right: 0px;
  opacity: 1;
  background: transparent;
  color: inherit;
  box-shadow: none;
}
.nav-item {
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  display: flex;
  align-items: baseline;
  opacity: 0.6;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  cursor: pointer;
  user-select: none;
}
.nav-item svg {
  user-select: none;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  font-size: inherit !important;
}
.nav-text {
  margin: 0px 2px 0px 8px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  opacity: 1;
  text-transform: capitalize;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  letter-spacing: -0.125px;
  font-weight: 400;
}
.social-icons,
.sponsors-section {
  background-color: #03c;
}
.sponsors-section {
  padding-top: 5em;
  padding-bottom: 2em;
}

.nav-btn-div {
  opacity: 1;
  background-color: #03c;
  color: rgb(255, 255, 255) !important;
  box-shadow: rgba(26, 115, 232, 0.15);
  background-size: 150% !important;
  background-position-x: 25% !important;
  box-shadow: none;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.5rem;
  min-width: 64px;
  text-align: center;
  min-height: 2rem;
  padding: 0.4rem;
}
.nav-btn {
  outline: 0px;
  border: 0px;
  cursor: pointer;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
  transition: all 150ms ease-in 0s;
  font-size: 0.75rem;
  color: #fff !important;
}
.nav-dropdown-wrapper {
  padding-left: 0px;
  padding-right: 0px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  border-radius: 0.75rem;
  box-shadow: none;
}
.nav-dropdown-wrapper > div {
  height: auto;
  min-height: 0px;
  height: auto;
  transition-duration: 281ms;
  overflow: visible;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media (min-width: 992px) {
  .nav-btn-div {
    margin-left: 0px;
  }
}
@media (min-width: 0px) {
  .nav-grid a {
    padding-left: 0px;
  }
}

@media (min-width: 576px) {
  .nav-cont {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 0px) {
  .nav-btn-div {
    margin-left: auto;
  }
}

.title {
  text-align: center;
  font-size: 2.25rem;
  line-height: 1.3;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: #000;
  letter-spacing: -0.125px;
  font-weight: 700;
}
.features-list-section p {
  margin-bottom: 1em;
}

.features-list-section p > span {
  font-weight: bold;
}

.hero-btn {
  width: 50%;
}
.footer,
.footer a {
  color: #fff !important;
}
.sponsors-section .title {
  color: #fff !important;
}
